EMODB/
.DS_Store
mlruns/
models/
whisper_cls_tiny_lora_mps/
whisper_cls_small_lora_mps/
whisper_cls_small_lora/
prova.py
evaluate_distillation_mlflow.ipynb
BABELE/
NEWEMODB/
VidTIMIT/
ckpts/
reports/
splits_session2/
teacher_cache/
video_mouth/